@model List<CountryViewModel>

<h3 class="text-center mb-3">
    The foreign countries I have visited
</h3>

<div class="container">
    <div class="row d-flex justify-content-between">
        @foreach (var country in Model)
        {
        <div class="mb-3 country">
            <div class="card h-100 text-center">
                <img src=@country.Flag class="card-img-top img-fluid border-bottom country_flag" alt="Flag of @country.CountryName"> 
                <div class="card-body">
                    <h5 class="card-title">@country.CountryName</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Capital: @country.CapitalName</li>
                    <li class="list-group-item">Population: @country.Population</li>
                    <li class="list-group-item">Area: @country.Area sq.km</li>
                </ul>
            </div>
        </div>
        }
    </div>
</div>