@model List<BeverageViewModel>

<div>
    Привет! Меня зовут Антон Ермолаев. Предлагаю вспомнить о том, что в мире вегда есть место прекрасному.
</div>
<br />

<div>
    <table>
        <thead style=" text-align: center;">
            <tr style="background-color: #ffc107;">
                @foreach (var currentBeverage in Model)
                {
                    <th>
                        <h2>@currentBeverage.BeverageName</h2>
                    </th>
                }
            </tr>
            <tr>
                <td>Состав:</td>
                <td>Состав:</td>
                <td>Состав:</td>
            </tr>
        <tbody style="vertical-align: top">
            <tr>
                @foreach (var currentBeverage in Model)
                {
                    <td style="border: 1px solid #ddd; padding: 8px;">

                        @foreach (var currentIngredient in currentBeverage.BeverageIngredients)
                        {
                            <div>
                                @currentIngredient.Name @currentIngredient.Quantity
                                @currentIngredient.Units
                            </div>
                            <div>
                                <img src="@currentIngredient.PictureUrl" alt="@currentIngredient.Name" />
                            </div>
                        }
                    </td>
                }
            </tr>
            <tr>
                @foreach (var currentBeverage in Model)
                {
                    <td>
                        <h4 style="background-color: #dea80a;text-align: right;">
                            @currentBeverage.BeveragePriceAsString
                        </h4>
                    </td>
                }
            </tr>
        </tbody>
    </table>


</div>
