@model WebMaze.Models.HealthDepartment.MedicalInsuranceViewModel

<body>
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.OwnerId)
    @Html.DisplayFor(x => x.StartPeriod)
    @Html.DisplayFor(x => x.EndPeriod)
    @Html.DisplayFor(x => x.Type)


</body>