@using WebMaze.Models.Police
@model PolicemanViewModel
@{
    Layout = "_PoliceLayout";
    ViewBag.Title = $"{Model.ProfileVM.Login}";
    var status = "Полицейский";
    var infoCard = new CardViewModel
    {
        SubTitle = "Сертификаты",
        Title = "Управление сертификатами",
        Description = "Управляйте своими сертификатами",
        Link = Url.Action("Items", "Certificate"),
        LinkText = "Перейти"
    };

    if (!Model.HasValidCertificate)
    {
        status = "Не имеет сертификат";
        infoCard.Title = "Получить сертификат";
        infoCard.Description = "Внимание, у вас в данный момент нет действующего сертификата. " +
            "Чтобы получить его, вам необходимо перейти в сайт Градоуправления, и подтвердить там ваш сертификат";
        infoCard.Link = Url.Action("SignUp", "Police");
    }
}

<h2 class="mb-4">Тестовый личный кабинет пользователя @Model.ProfileVM.Login</h2>

<div class="row justify-content-center justify-content-md-start">
    <div class="mb-4 col-6 col-md-3 order-md-last">
        <div class="card">
            <div class="card-img">
                <img src="@Model.ProfileVM.AvatarUrl" class="rounded img-fluid" />
                <hr />
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.ProfileVM.Login</h5>
                <p class="card-text text-success">@status</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @if (infoCard != null)
        {
            <div class="row">
                <div class="mb-4 col-md-12">
                    <div class="card">
                        <div class="card-header">@infoCard.SubTitle</div>
                        <div class="card-body">
                            <h5 class="card-title">@infoCard.Title</h5>
                            <p class="card-text">@infoCard.Description</p>
                            <a class="btn btn-primary" href="@infoCard.Link">@infoCard.LinkText</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>