@model WebMaze.Models.Police.MainIndexInfoViewModel
@{
    Layout = "_PoliceLayout.cshtml";
    ViewBag.Title = "Полиция города";
}

<div class="p-md-5 p-4 mb-4 text-white bg-darker rounded">
    <div class="col-md-10 px-0">
        <h1 class="display-4 font-italic">Важность роли полицейского в современном мире</h1>
        <p class="lead my-3">
            Полиция каждый день защищает и спасает сотни людей по всему городу.
            Узнайте, что творится внутри этой масшатбной системы, и попробуйте себя в роли полицейского
        </p>
        <p class="lead">
            <a href="#" class="text-white font-underline">Читать дальше</a>
        </p>
    </div>
</div>

@foreach (var card in Model.Cards)
{
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">@card.SubTitle</strong>
                    <h3 class="mb-1">@card.Title</h3>
                    <p class="card-text mb-auto">@card.Description</p>
                    <a class="stretched-link" href="@card.Link">@card.LinkText</a>
                </div>
            </div>
        </div>
    </div>
}